.idea/
*.DotSettings.user


[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

packages/
*.nupkg
**/[Pp]ackages/*

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

logs/
*.log
*.tmp

*.csproj.nuget.g.props
*.csproj.nuget.g.targets
project.lock.json
project.fragment.lock.json
artifacts/

publish/

**/appsettings.Development.json
**/secrets.json

*.xlsx